*{
    padding:0;
    margin:0;
}
body{
    width:100%;
    height:auto;
    overflow:hidden;
    background-color: #faf2ec;
}
content-wrapper{
    width:80%;
    margin: 4% 10% 5% 10%;
}

text wrapper  h1{
    text-align: center;
    color:#ffffff;
    font-size: 10vw;
    font-family: 'Dancing Script', cursive;
    
}
.jumbotron, .jumbotron-fluid {
    height: 400px;
   

}
.mycontainer{
  height: 1500px;
  width:auto;
}
.jam{
    height:400px;
}
.p{
    font-family: 'Dancing Script',cursive;
}


    
.row1{
    float:left;
    width: 200px;
    margin:0;
}
    
    
    
.col-md-6{
    padding: 20px, 10px;
    border:1px, solid black;
    
}
    
.container {
    width: 400px;
    height: 400px:
    margin:30px;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.jumbotron1{
    background-color: #4d818c;
}

p{
    
    
}
@media only screen and (min-width: 650px) and (max-width: 1024px);